/* 
* portrait 
*
* ipad
*/
@media screen and (orientation: Portrait) and (min-height: 1020px) and (min-width: 760px) {
  .home {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
  }

  .vcr {
    width: auto;
    max-height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    margin: .5rem auto;
  }
}



/* 
* Landscape 
*
* Pixel 2, Pixel 2 XL,, iphone 6/7/8, iphone 6/7/8 PLUS, iphone X
*/
@media screen and (orientation: Landscape) and (min-height: 300px) and (min-width: 600px) {
  .home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
  }

  .vcr {
    width: auto;
    max-height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    margin: .5rem auto;
  }
}

/* 
* Landscape 
*
* Pixel 2, Pixel 2 XL,, iphone 6/7/8, iphone 6/7/8 PLUS, iphone X
*/
@media screen and (orientation: Landscape) and (min-height: 375px) and (min-width: 800px) {
  .home {
    padding-top: 1.3rem;
  }
}

/* 
* Portrait 
*
* Pixel 2, Pixel 2 XL,, iphone 6/7/8, iphone 6/7/8 PLUS, iphone X
*/
@media screen and (orientation: portrait) and (max-height: 900px) and (min-height: 600px) and (min-width: 374px) {
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 98%;
  }

  .vcr {
    width: auto;
    max-height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    margin: .5rem auto;
  }
}

/* 
* iphone 5
*/
@media screen and (orientation: portrait) and (max-height: 600px) and (max-width: 360px) {
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    overflow: scroll;
    padding-top: 7rem;
  }

  .vcr {
    width: auto;
    max-height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    margin: .5rem auto;
  }
}
/* 
* iphone 5 landscape
*/
@media screen and (orientation: Landscape) and (max-height: 325px) and (max-width: 570px) {
  .home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    overflow: scroll;
    padding-top: 1.5rem;
  }

  .vcr {
    width: auto;
    max-height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    margin: .5rem auto;
  }
}

/* 
* Galaxy S5
*/
@media screen and (orientation: portrait) and (min-height: 600px) and (max-width: 360px) {
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
  }

  .vcr {
    width: auto;
    max-height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    margin: .5rem auto;
  }
}


